{% extends 'base_inf.html' %}
{% load static %}
{% block content %}


<!--
<div class="wrapper">

    <div class="side left">
          <div class="image dog"></div>
          <div class="captionsmall">
                <h1>Visita tambien nuestras<br>soluciones en<br>refrigeración</h1>
                <a class="button" href="/soluciones-en-informatica/">Ver</a>
          </div>
    </div>

</div>
-->
<!------sucursales------>

<!-------servicios------>

<section class="services">
    <h1>Armamos tu PC</h1>
    <p>Diseño, cotización y ensamblaje de tu PC a tu medida y con las 
        especificaciones que requieras, diseña y arma tu equipo con ayuda 
        de profesionales.</p>
    <!--
    <body>
        <div class="container">
            <main class="grid"> 
            {% for category in links %}
                <article>
                    <img src="{{category.cat_image.url}}">
                    <div class="text">
                        <h3>{{category.category_name}}</h3>
                        <p>{{category.description}}</p>
                        <a href="/services/mantenimiento" class="hero-btn red-btn">Me interesa</a>
                    </div>
                </article> 
            {% endfor %}
            </main>  
        </div> 
    </body>
    -->
</section>

<section>
    <body>
        <div class="cards">
            <div class="servicesc">
                <div class="contentc contentc-1">
                    <div class="fa fa-cog"></div>
                    <h2>
                        Negocios
                    </h2>
                    <p>
                        Diseñamos y ensamblamos tu equipo a medida y con especificaciones personalizadas para 
                        el mejor desempeño en tu negocio.
                    </p>
                    <a href="https://wa.me/528130413601" rel="noopener noreferrer" target="_blank">Cotizar</a>
                </div>
                <div class="contentc contentc-1">
                    <div class="fa fa-briefcase"></div>
                    <h2>
                        Personal
                    </h2>
                    <p>
                        Diseñamos y ensamblamos tu equipo acorde a tus necesidades de trabajo, diseño, gaming,
                        streaming, mineria, etc.
                    </p>
                    <a href="https://wa.me/528130413601" rel="noopener noreferrer" target="_blank">Cotizar</a>
                </div>
                
           </div>
        </div>
    </body>
</section>

<!--------Instalaciones-------->

<!--
<section class="facilities">
    <h1>Nuestras instalaciones</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <div class="row">
        <div class="facilities-col">
            <img src="{% static 'images/library.png' %}">
            <h3>Espacio especial dedicado a mantenimiento</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="facilities-col">
            <img src="{% static 'images/basketball.png' %}">
            <h3>Herramientas que tus equipos necesitan</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="facilities-col">
            <img src="{% static 'images/cafeteria.png' %}">
            <h3>Productos de limpieza para tus equipos</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
</section>
-->

<!--------Opiniones-------->

<!--
<section class="opinions">
    <h1>Lo que nuestros clientes opinan</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <div class="row">
        <div class="opinions-col">
            <img src="{% static 'images/user1.jpg' %}">
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <h3>María Diaz</h3>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
        </div>
        <div class="opinions-col">
            <img src="{% static 'images/user2.jpg' %}">
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <h3>Pedro Gutierrez</h3>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
        </div>

    </div>
</section>
-->

<!--------Llamar a accion-------->

<section class="cta">
    <h1>Acude a nuestras soluciones con precios justos y <br> economicos para que los equipos de tu negocio esten en buen estado</h1>
    <a href="/contact/" class="hero-btn">Contactanos</a>
</section>


{% endblock %}