{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <title>Acerca de</title>
    </head>
    <body>
        <nav>
            <div class="logo"><a href="/inicio/"><img src="{% static 'images/saga.png' %}"></a></div>
            
            <label for="btn" class="icon">
            <span class="fa fa-bars"></span>
            </label>
            <input class="inputxd" type="checkbox" id="btn">
            <ul class="centered">
                <li><a href="/inicio/">Inicio</a></li>
                <li>
                    <label for="btn-2" class="show">Soluciones +</label>
                    <a href="#">Soluciones</a>
                    <input class="inputxd" type="checkbox" id="btn-2">
                    <ul>
                        <li>
                            <label for="btn-3" class="show">Informatica +</label>
                            <a href="#">Informatica</a>
                            <input class="inputxd" type="checkbox" id="btn-3">
                            <ul>
                                <li>
                                    <label for="btn-4" class="show">Mantenimiento regular</label>
                                    <a href="/mantenimiento_regular/" class="small">Mantenimiento regular</a>
                                    <input class="inputxd" type="checkbox" id="btn-4">
                                </li>
                                <li>
                                    <label for="btn-5" class="show">Servicio a negocios</label>
                                    <a href="/servicio_a_negocios/" class="small">Servicio a negocios</a>
                                    <input class="inputxd" type="checkbox" id="btn-5">
                                </li>
        
                                <li>
                                    <label for="btn-6" class="show">Reparación</label>
                                    <a href="/reparacion/">Reparación</a>
                                    <input class="inputxd" type="checkbox" id="btn-6">
                                </li>
        
                                <li>
                                    <label for="btn-7" class="show">Instalación de software</label>
                                    <a href="/software/" class="small">Instalación de software</a>
                                    <input class="inputxd" type="checkbox" id="btn-7">
                                </li>
        
                                <li>
                                    <label for="btn-8" class="show">Mejoras y ampliaciones</label>
                                    <a href="/mejoras/" class="small">Mejoras y ampliaciones</a>
                                    <input class="inputxd" type="checkbox" id="btn-8">
                                </li>
                            </ul>         
                        </li>

                        <!--<li>
                            <label for="btn-2" class="show">Refrigeración +</label>
                            <a href="#">Refrigeración</a>
                            <input class="inputxd" type="checkbox" id="btn-2">
                            <ul>
                                <li>
                                    <label for="btn-8" class="show">Mantenimiento correctivo</label>
                                    <a href="/mantenimiento_correctivo/" class="small">Mantenimiento correctivo</a>
                                    <input class="inputxd" type="checkbox" id="btn-3">
                                </li>
                                <li>
                                    <label for="btn-9" class="show">Mantenimiento preventivo</label>
                                    <a href="/mantenimiento_preventivo/" class="small">Mantenimiento preventivo</a>
                                    <input class="inputxd" type="checkbox" id="btn-3">
                                </li>
                                <li>
                                    <label for="btn-10" class="show">Instalación de minisplit</label>
                                    <a href="/instalacion_de_minisplits/" class="small">Instalación de minisplit</a>
                                    <input class="inputxd" type="checkbox" id="btn-3">
                                </li>
                            </ul>         
                        </li>-->
                    </ul>
                </li>
                <li><a href="/about/">Acerca de nosotros</a></li>
                <li><a href="/contact/">Contacto</a></li>
             </ul>
        
        </nav>
        <section class="sub-header">
            <h1>Acerca de nosotros</h1>
        </section>

        
        <!--------Fin del header-------->

        <section class="about-us">
            <div class="row">
                <div class="about-col">
                    <h1 style="color: black;">Servicio tecnico de calidad y rapidez</h1>
                    <p>Somos una empresa regiomontana que se esfuerza por brindar el mejor servicio,
                    con calidad, rapidez y profesionalismo, para poder brindar un servicio de excelencia 
                    a los equipos de computo de tu negocio y/o tus equipos personales.</p>
                    <a href="https://wa.me/528130413601" class="hero-btn red-btn" rel="noopener noreferrer" target="_blank">Contratanos ya!</a>
                </div>
                <div class="about-col">
                <img src="/static/images/office.jpg">
                </div>
            </div>
        </section>
       



        <!--------Footer-------->

        <section class="footer">
            <!--<h4>Acerca de nosotros</h4>-->
            <p>Todos los derechos reservados</p>
            <div class="icons">
                <a href="https://www.facebook.com/SAGA-Tech-112869659535080" rel="noopener noreferrer" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://wa.me/528130413601" rel="noopener noreferrer" target="_blank"><i class="fa fa-whatsapp"></i></a>
            </div>
        </section>

        <!--------JavaScript para activar el menu de inicio en dispositivos moviles-------->
        <script>
            var navLinks = document.getElementById("navLinks");

            function showMenu(){
                navLinks.style.right="0";
            }
            function hideMenu(){
                navLinks.style.right="-200px";
            }
        </script>
    </body>
</html>