{% extends 'base_inf.html' %}
{% load static %}
{% block content %}


<section class="header">
    <nav>
        <div class="text-box">
            <h1>Tu mejor opción de soluciones en informática</h1>
            <!--<a href="" class="hero-btn">Contrátanos</a>-->
        </div>
    </nav>
</section>

<!--
<div class="wrapper">

    <div class="side left">
          <div class="image dog"></div>
          <div class="captionsmall">
                <h1>Visita tambien nuestras<br>soluciones en<br>refrigeración</h1>
                <a class="button" href="/soluciones-en-informatica/">Ver</a>
          </div>
    </div>

</div>
-->
<!------sucursales------>

<!-------servicios------>

<section class="services">
    <h1>Soluciones que ofrecemos</h1>
    <p>Ofrecemos soluciones para todo tipo de dispositivos mobiles, de computo y entretenimiento</p>
    <!--
    <body>
        <div class="container">
            <main class="grid"> 
            {% for category in links %}
                <article>
                    <img src="{{category.cat_image.url}}">
                    <div class="text">
                        <h3>{{category.category_name}}</h3>
                        <p>{{category.description}}</p>
                        <a href="/services/mantenimiento" class="hero-btn red-btn">Me interesa</a>
                    </div>
                </article> 
            {% endfor %}
            </main>  
        </div> 
    </body>
    -->
   

    


</section>

<section>
    <body>
        <div class="cards">
            <div class="servicesc">
                <div class="contentc contentc-1">
                    <div class="fa fa-cog"></div>
                    <h2>
                        Mantenimiento regular
                    </h2>
                    <p>
                        Mantenimiento preventivo regular y limpieza completa de tu equipo, 
                        lo mejor para aprovechar y hacer durar tus equipos al máximo.
                    </p>
                    <a href="/mantenimiento_regular/">Ver más</a>
                </div>
                <div class="contentc contentc-1">
                    <div class="fa fa-briefcase"></div>
                    <h2>
                        Servicio a negocios
                    </h2>
                    <p>
                        Servicios y cotizaciones personalizadas para negocios, oficinas, 
                        cibercafes, etc. Cotizaciones hechas a la medida para tus necesidades 
                        y las de tu negocio.
                    </p>    

                    <a href="/servicio_a_negocios/">Ver más</a>
                </div>
                <div class="contentc contentc-1">
                    <div class="fa fa-wrench"></div>
                    <h2>
                        Reparación
                    </h2>
                    <p>
                        Mantenimiento correctivo y reparación de tu equipo, reemplazo de piezas 
                        no funcionales, etc. Lo mejor para recuperar tus equipos defectuosos.
                    </p>
                    <a href="/reparacion/">Ver más</a>
                </div>
            </div>

            <div class="servicesc">
                <div class="contentc contentc-1">
                    <div class="fa fa-floppy-o"></div>
                    <h2>
                        Instalación de software
                    </h2>
                    <p>
                        Instalación o actualización del software que necesites en tu equipo, desde 
                        aplicaciones comerciales, de ingeniería, estudiantiles o uso común, manten 
                        tu equipo en forma con el software mas moderno.
                    </p>
                    <a href="/software/">Ver más</a>
                </div>
                <div class="contentc contentc-1">
                    <div class="fa fa-hdd-o"></div>
                    <h2>
                        Mejoras y ampliaciones
                    </h2>
                    <p>
                        Mejora la potencia de tu equipo, mejoras de RAM, reemplazo de HDD A SSD, 
                        pulimiento de disipador de calor, y mas maneras de aumentar la potencia 
                        de tu equipo al máximo.
                    </p>
                    <a href="/mejoras/">Ver más</a>
                </div>
                <div class="contentc contentc-1">
                    <div class="fa fa-hdd-o"></div>
                    <h2>
                        Armamos tu pc
                    </h2>
                    <p>
                        Diseño, cotización y ensamblaje de tu PC a tu medida y con las 
                        especificaciones que requieras, diseña y arma tu equipo con ayuda 
                        de profesionales.
                    </p>
                    <a href="/armamos_tu_pc/">Ver más</a>
                </div>
            </div>
        </div>
    </body>
</section>

<!--------Instalaciones-------->

<!--
<section class="facilities">
    <h1>Nuestras instalaciones</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <div class="row">
        <div class="facilities-col">
            <img src="{% static 'images/library.png' %}">
            <h3>Espacio especial dedicado a mantenimiento</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="facilities-col">
            <img src="{% static 'images/basketball.png' %}">
            <h3>Herramientas que tus equipos necesitan</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="facilities-col">
            <img src="{% static 'images/cafeteria.png' %}">
            <h3>Productos de limpieza para tus equipos</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
</section>
-->

<!--------Opiniones-------->

<!--
<section class="opinions">
    <h1>Lo que nuestros clientes opinan</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <div class="row">
        <div class="opinions-col">
            <img src="{% static 'images/user1.jpg' %}">
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <h3>María Diaz</h3>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
        </div>
        <div class="opinions-col">
            <img src="{% static 'images/user2.jpg' %}">
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <h3>Pedro Gutierrez</h3>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
        </div>

    </div>
</section>
-->

<!--------Llamar a accion-------->

<section class="cta">
    <h1>Acude a nuestras soluciones con precios justos y <br> economicos para que los equipos de tu negocio esten en buen estado</h1>
    <a href="/contact/" class="hero-btn">Contactanos</a>
</section>


{% endblock %}