{% extends 'base_ref.html' %}
{% load static %}
{% block content %}


<!--
<div class="wrapper">

    <div class="side left">
          <div class="image dog"></div>
          <div class="captionsmall">
                <h1>Visita tambien nuestras<br>soluciones en<br>refrigeración</h1>
                <a class="button" href="/soluciones-en-informatica/">Ver</a>
          </div>
    </div>

</div>
-->
<!------sucursales------>

<!-------servicios------>

<section class="services">
    <h1>Soluciones que ofrecemos</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
        molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
        numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
        optio, eaque rerum! Provident similique accusantium nemo autem.</p>
    <!--
    <body>
        <div class="container">
            <main class="grid"> 
            {% for category in links %}
                <article>
                    <img src="{{category.cat_image.url}}">
                    <div class="text">
                        <h3>{{category.category_name}}</h3>
                        <p>{{category.description}}</p>
                        <a href="/services/mantenimiento" class="hero-btn red-btn">Me interesa</a>
                    </div>
                </article> 
            {% endfor %}
            </main>  
        </div> 
    </body>
    -->
</section>

<section>
    <body>
        <div class="cards">
            <div class="servicesc">
                <div class="contentc contentc-1">
                    <div class="fa fa-cog"></div>
                    <h2>
                        Mantenimiento regular
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita ullam aliquid non eligendi, nemo est neque reiciendis error?
                    </p>
                    <a href="#">Read More</a>
                </div>
                <div class="contentc contentc-1">
                    <div class="fa fa-briefcase"></div>
                    <h2>
                        Servicio a negocios
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita ullam aliquid non eligendi, nemo est neque reiciendis error?
                    </p>
                    <a href="#">Read More</a>
                </div>
                <div class="contentc contentc-1">
                    <div class="fa fa-wrench"></div>
                    <h2>
                        Reparación
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita ullam aliquid non eligendi, nemo est neque reiciendis error?
                    </p>
                    <a href="#">Read More</a>
                </div>
           </div>

           <div class="servicesc">
                <div class="contentc contentc-1">
                    <div class="fa fa-floppy-o"></div>
                    <h2>
                        Instalación de software
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita ullam aliquid non eligendi, nemo est neque reiciendis error?
                    </p>
                    <a href="#">Read More</a>
                </div>
                <div class="contentc contentc-1">
                    <div class="fa fa-hdd-o"></div>
                    <h2>
                        Mejoras y ampliaciones
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita ullam aliquid non eligendi, nemo est neque reiciendis error?
                    </p>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
    </body>
</section>


<!--------Instalaciones-------->

<!--
<section class="facilities">
    <h1>Nuestras instalaciones</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <div class="row">
        <div class="facilities-col">
            <img src="{% static 'images/library.png' %}">
            <h3>Espacio especial dedicado a mantenimiento</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="facilities-col">
            <img src="{% static 'images/basketball.png' %}">
            <h3>Herramientas que tus equipos necesitan</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="facilities-col">
            <img src="{% static 'images/cafeteria.png' %}">
            <h3>Productos de limpieza para tus equipos</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
</section>
-->

<!--------Opiniones-------->

<!--
<section class="opinions">
    <h1>Lo que nuestros clientes opinan</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <div class="row">
        <div class="opinions-col">
            <img src="{% static 'images/user1.jpg' %}">
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <h3>María Diaz</h3>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
        </div>
        <div class="opinions-col">
            <img src="{% static 'images/user2.jpg' %}">
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <h3>Pedro Gutierrez</h3>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
        </div>

    </div>
</section>
-->

<!--------Llamar a accion-------->

<section class="cta">
    <h1>Acude a nuestras soluciones con precios justos y <br> economicos para que los equipos de tu negocio esten en buen estado</h1>
    <a href="/contact/" class="hero-btn">Contactanos</a>
</section>


{% endblock %}